# those were the requierments

## University Management System

### Tables

#### Students
- `student_id`
- `name`
- `age`
- `major`
- `enrollment_date`

#### Courses
- `course_id`
- `name`
- `credits`
- `instructor`

### Enrollments
- `enrollment_id`
- `student_id`
- `course_id`
- `grade`

### Use Cases
- Identify students enrolled in a specific course
- Calculate the average grade for a course
- Update course details and track student progress

### Implementation Plan

#### Create Schema and ERD
- Design an Entity-Relationship Diagram (ERD) showing the relationships among the tables

#### SQL Implementation
- Implement schema creation in SQL (CREATE TABLE commands)
- Create tables with primary keys, foreign keys, and constraints
- Insert rows in tables
- Update tables using UPDATE to modify records

#### Select Queries
- Use SELECT queries with:
  - WHERE clauses
  - Logical operators (AND, OR)
  - Filtering
  - Inner joins
  - Left or right joins
  - Querying data from multiple tables
  - Subqueries for advanced filtering or calculations

### Python and Pandas Operations

#### Data Handling
- Read data using `pandas.read_sql()`
- Manipulate data:
  - Add columns: `df['new_column'] = df['existing_column'] * 2`
  - Delete columns: `df.drop(columns=['column_name'], inplace=True)`
- Indexing with `loc` and `iloc`
- Export data using `df.to_csv()` or `df.to_excel()`

#### Additional Tasks
- Upload all work to GitHub

### ERD Diagram

# those are solutions

## the ERD
![ERD Diagram](erd.png)

## loading reqierments

In [ ]:
import pandas as pd
import pymysql
%load_ext sql

## creating the database

In [ ]:
%sql create database ums;

## creating tables

### creating table student

In [ ]:
%%sql 
-- Student Table
CREATE TABLE Student (
    s_id INT PRIMARY KEY,
    s_name VARCHAR(45),
    major VARCHAR(45),
    age INT
);

### creating table grades

In [ ]:
%%sql 
-- Grades Table
CREATE TABLE Grades (
    counter INT PRIMARY KEY,
    s_id INT ,
    MachineLearning INT,
    ArtificialIntelligence INT,
    NLPNaturalLanguageProcessing INT,
    ComputerVision INT,
    DataScience INT,
    DeepLearning INT,
    Algebra INT,
    Calculus INT,
    Probability INT,
    Statistics INT,
    FOREIGN KEY (s_id) REFERENCES Student(s_id)
);

### creating table instructor

In [ ]:
%%sql
-- Instructor Table
CREATE TABLE Instructor (
    i_id INT PRIMARY KEY,
    i_name VARCHAR(45),
    i_major VARCHAR(45)
);

### creating table course

In [ ]:
%%sql
-- Course Table
CREATE TABLE Course (
    c_id INT PRIMARY KEY,
    c_name VARCHAR(45),
    credits INT,
    i_id INT,
    FOREIGN KEY (i_id) REFERENCES Instructor(i_id)
);

### creating table enrollment

In [ ]:
%%sql
-- Enrollment Table
CREATE TABLE Enrollment (
    s_id INT,
    c_id INT,
    e_date DATE,
    PRIMARY KEY (s_id, c_id),
    FOREIGN KEY (s_id) REFERENCES Student(s_id),
    FOREIGN KEY (c_id) REFERENCES Course(c_id)
);

## data insertion

### insert 100 student

In [ ]:
%%sql
-- insert 100 student
INSERT INTO Student (s_id, s_name, major, age) VALUES
(1, 'John Doe', 'Computer Science', 20),
(2, 'Jane Smith', 'Mathematics', 22),
(3, 'Alice Johnson', 'Math & Computer Science', 21),
(4, 'Bob Brown', 'Computer Science', 23),
(5, 'Charlie Davis', 'Mathematics', 19),
(6, 'Eva Green', 'Math & Computer Science', 24),
(7, 'Frank White', 'Computer Science', 20),
(8, 'Grace Black', 'Mathematics', 22),
(9, 'Henry Blue', 'Math & Computer Science', 21),
(10, 'Ivy Gray', 'Computer Science', 23),
(11, 'Jack Brown', 'Mathematics', 20),
(12, 'Karen White', 'Math & Computer Science', 22),
(13, 'Leo Green', 'Computer Science', 21),
(14, 'Mia Black', 'Mathematics', 23),
(15, 'Noah Blue', 'Math & Computer Science', 20),
(16, 'Olivia Gray', 'Computer Science', 22),
(17, 'Peter Brown', 'Mathematics', 21),
(18, 'Quinn White', 'Math & Computer Science', 23),
(19, 'Rachel Green', 'Computer Science', 20),
(20, 'Sam Black', 'Mathematics', 22),
(21, 'Tom Blue', 'Math & Computer Science', 21),
(22, 'Uma Gray', 'Computer Science', 23),
(23, 'Victor Brown', 'Mathematics', 20),
(24, 'Wendy White', 'Math & Computer Science', 22),
(25, 'Xander Green', 'Computer Science', 21),
(26, 'Yara Black', 'Mathematics', 23),
(27, 'Zack Blue', 'Math & Computer Science', 20),
(28, 'Anna Gray', 'Computer Science', 22),
(29, 'Ben Brown', 'Mathematics', 21),
(30, 'Cara White', 'Math & Computer Science', 23),
(31, 'Dan Green', 'Computer Science', 20),
(32, 'Ella Black', 'Mathematics', 22),
(33, 'Finn Blue', 'Math & Computer Science', 21),
(34, 'Gina Gray', 'Computer Science', 23),
(35, 'Hank Brown', 'Mathematics', 20),
(36, 'Iris White', 'Math & Computer Science', 22),
(37, 'Jake Green', 'Computer Science', 21),
(38, 'Kara Black', 'Mathematics', 23),
(39, 'Liam Blue', 'Math & Computer Science', 20),
(40, 'Maya Gray', 'Computer Science', 22),
(41, 'Nate Brown', 'Mathematics', 21),
(42, 'Olga White', 'Math & Computer Science', 23),
(43, 'Paul Green', 'Computer Science', 20),
(44, 'Quincy Black', 'Mathematics', 22),
(45, 'Rita Blue', 'Math & Computer Science', 21),
(46, 'Steve Gray', 'Computer Science', 23),
(47, 'Tina Brown', 'Mathematics', 20),
(48, 'Umar White', 'Math & Computer Science', 22),
(49, 'Vera Green', 'Computer Science', 21),
(50, 'Will Black', 'Mathematics', 23),
(51, 'Xena Blue', 'Math & Computer Science', 20),
(52, 'Yuri Gray', 'Computer Science', 22),
(53, 'Zane Brown', 'Mathematics', 21),
(54, 'Amy White', 'Math & Computer Science', 23),
(55, 'Brad Green', 'Computer Science', 20),
(56, 'Cara Black', 'Mathematics', 22),
(57, 'Dave Blue', 'Math & Computer Science', 21),
(58, 'Eve Gray', 'Computer Science', 23),
(59, 'Finn Brown', 'Mathematics', 20),
(60, 'Gina White', 'Math & Computer Science', 22),
(61, 'Hank Green', 'Computer Science', 21),
(62, 'Ivy Black', 'Mathematics', 23),
(63, 'Jack Blue', 'Math & Computer Science', 20),
(64, 'Kara Gray', 'Computer Science', 22),
(65, 'Leo Brown', 'Mathematics', 21),
(66, 'Mia White', 'Math & Computer Science', 23),
(67, 'Noah Green', 'Computer Science', 20),
(68, 'Olga Black', 'Mathematics', 22),
(69, 'Paul Blue', 'Math & Computer Science', 21),
(70, 'Quinn Gray', 'Computer Science', 23),
(71, 'Rachel Brown', 'Mathematics', 20),
(72, 'Sam White', 'Math & Computer Science', 22),
(73, 'Tom Green', 'Computer Science', 21),
(74, 'Uma Black', 'Mathematics', 23),
(75, 'Victor Blue', 'Math & Computer Science', 20),
(76, 'Wendy Gray', 'Computer Science', 22),
(77, 'Xander Brown', 'Mathematics', 21),
(78, 'Yara White', 'Math & Computer Science', 23),
(79, 'Zack Green', 'Computer Science', 20),
(80, 'Anna Black', 'Mathematics', 22),
(81, 'Ben Blue', 'Math & Computer Science', 21),
(82, 'Cara Gray', 'Computer Science', 23),
(83, 'Dan Brown', 'Mathematics', 20),
(84, 'Ella White', 'Math & Computer Science', 22),
(85, 'Finn Green', 'Computer Science', 21),
(86, 'Gina Black', 'Mathematics', 23),
(87, 'Hank Blue', 'Math & Computer Science', 20),
(88, 'Iris Gray', 'Computer Science', 22),
(89, 'Jake Brown', 'Mathematics', 21),
(90, 'Kara White', 'Math & Computer Science', 23),
(91, 'Liam Green', 'Computer Science', 20),
(92, 'Maya Black', 'Mathematics', 22),
(93, 'Nate Blue', 'Math & Computer Science', 21),
(94, 'Olga Gray', 'Computer Science', 23),
(95, 'Paul Brown', 'Mathematics', 20),
(96, 'Quincy White', 'Math & Computer Science', 22),
(97, 'Rita Green', 'Computer Science', 21),
(98, 'Steve Black', 'Mathematics', 23),
(99, 'Tina Blue', 'Math & Computer Science', 20),
(100, 'Umar Gray', 'Computer Science', 22);

### insert 10 instructor

In [ ]:
%%sql
-- insert 10 instructor
INSERT INTO Instructor (i_id, i_name, i_major) VALUES
(1, 'Dr. Brown', 'Computer Science'),
(2, 'Dr. White', 'Mathematics'),
(3, 'Dr. Green', 'Math & Computer Science'),
(4, 'Dr. Black', 'Computer Science'),
(5, 'Dr. Blue', 'Mathematics'),
(6, 'Dr. Gray', 'Math & Computer Science'),
(7, 'Dr. Red', 'Computer Science'),
(8, 'Dr. Yellow', 'Mathematics'),
(9, 'Dr. Orange', 'Math & Computer Science'),
(10, 'Dr. Purple', 'Computer Science');

### insert 10 courses

In [ ]:
%%sql
-- inserting 10 courses
INSERT INTO Course (c_id, c_name, credits, i_id) VALUES
(1, 'MachineLearning', 4, 1),
(2, 'ArtificialIntelligence', 3, 2),
(3, 'NaturalLanguageProcessing', 3, 3),
(4, 'ComputerVision', 4, 4),
(5, 'DataScience', 4, 5),
(6, 'DeepLearning', 3, 6),
(7, 'Algebra', 2, 7),
(8, 'Calculus', 3, 8),
(9, 'Probability', 2, 9),
(10, 'Statistics', 3, 10);

### insert 100 enrollment

In [ ]:
%%sql
-- insert the enrollments of the 100 student
INSERT INTO Enrollment (s_id, c_id, e_date) VALUES
(1, 1, '2023-01-15'),
(2, 2, '2023-02-10'),
(3, 3, '2023-03-05'),
(4, 4, '2023-04-20'),
(5, 5, '2023-05-12'),
(6, 6, '2023-06-18'),
(7, 7, '2023-07-22'),
(8, 8, '2023-08-30'),
(9, 9, '2023-09-14'),
(10, 10, '2023-10-25'),
(11, 1, '2023-01-20'),
(12, 2, '2023-02-15'),
(13, 3, '2023-03-10'),
(14, 4, '2023-04-25'),
(15, 5, '2023-05-17'),
(16, 6, '2023-06-23'),
(17, 7, '2023-07-27'),
(18, 8, '2023-08-31'),
(19, 9, '2023-09-19'),
(20, 10, '2023-10-30'),
(21, 1, '2023-01-25'),
(22, 2, '2023-02-20'),
(23, 3, '2023-03-15'),
(24, 4, '2023-04-30'),
(25, 5, '2023-05-22'),
(26, 6, '2023-06-28'),
(27, 7, '2023-07-31'),
(28, 8, '2023-08-31'),
(29, 9, '2023-09-24'),
(30, 10, '2023-10-31'),
(31, 1, '2023-01-30'),
(32, 2, '2023-02-25'),
(33, 3, '2023-03-20'),
(34, 4, '2023-04-30'),
(35, 5, '2023-05-27'),
(36, 6, '2023-06-30'),
(37, 7, '2023-07-31'),
(38, 8, '2023-08-31'),
(39, 9, '2023-09-29'),
(40, 10, '2023-10-31'),
(41, 1, '2023-01-31'),
(42, 2, '2023-02-28'),
(43, 3, '2023-03-25'),
(44, 4, '2023-04-30'),
(45, 5, '2023-05-31'),
(46, 6, '2023-06-30'),
(47, 7, '2023-07-31'),
(48, 8, '2023-08-31'),
(49, 9, '2023-09-30'),
(50, 10, '2023-10-31'),
(51, 1, '2023-01-31'),
(52, 2, '2023-02-28'),
(53, 3, '2023-03-31'),
(54, 4, '2023-04-30'),
(55, 5, '2023-05-31'),
(56, 6, '2023-06-30'),
(57, 7, '2023-07-31'),
(58, 8, '2023-08-31'),
(59, 9, '2023-09-30'),
(60, 10, '2023-10-31'),
(61, 1, '2023-01-31'),
(62, 2, '2023-02-28'),
(63, 3, '2023-03-31'),
(64, 4, '2023-04-30'),
(65, 5, '2023-05-31'),
(66, 6, '2023-06-30'),
(67, 7, '2023-07-31'),
(68, 8, '2023-08-31'),
(69, 9, '2023-09-30'),
(70, 10, '2023-10-31'),
(71, 1, '2023-01-31'),
(72, 2, '2023-02-28'),
(73, 3, '2023-03-31'),
(74, 4, '2023-04-30'),
(75, 5, '2023-05-31'),
(76, 6, '2023-06-30'),
(77, 7, '2023-07-31'),
(78, 8, '2023-08-31'),
(79, 9, '2023-09-30'),
(80, 10, '2023-10-31'),
(81, 1, '2023-01-31'),
(82, 2, '2023-02-28'),
(83, 3, '2023-03-31'),
(84, 4, '2023-04-30'),
(85, 5, '2023-05-31'),
(86, 6, '2023-06-30'),
(87, 7, '2023-07-31'),
(88, 8, '2023-08-31'),
(89, 9, '2023-09-30'),
(90, 10, '2023-10-31'),
(91, 1, '2023-01-31'),
(92, 2, '2023-02-28'),
(93, 3, '2023-03-31'),
(94, 4, '2023-04-30'),
(95, 5, '2023-05-31'),
(96, 6, '2023-06-30'),
(97, 7, '2023-07-31'),
(98, 8, '2023-08-31'),
(99, 9, '2023-09-30'),
(100, 10, '2023-10-31');

### insert 100 grades

In [ ]:
%%sql
-- insert grades for the 100 student
INSERT INTO Grades (counter, s_id, MachineLearning, ArtificialIntelligence, NLPNaturalLanguageProcessing, ComputerVision, DataScience, DeepLearning, Algebra, Calculus, Probability, Statistics) VALUES
(1, 1, 85, 90, 88, 92, 87, 89, 78, 82, 80, 84),
(2, 2, 78, 85, 80, 88, 90, 83, 76, 79, 77, 81),
(3, 3, 92, 88, 85, 90, 91, 87, 84, 86, 83, 85),
(4, 4, 76, 82, 79, 84, 81, 80, 75, 78, 76, 79),
(5, 5, 89, 91, 87, 93, 88, 90, 85, 88, 86, 87),
(6, 6, 83, 86, 84, 89, 85, 82, 80, 83, 81, 82),
(7, 7, 77, 80, 78, 82, 79, 81, 74, 77, 75, 78),
(8, 8, 91, 93, 90, 94, 92, 89, 88, 90, 87, 89),
(9, 9, 84, 87, 85, 88, 86, 85, 82, 84, 83, 85),
(10, 10, 79, 83, 81, 85, 82, 84, 78, 81, 79, 82),
(11, 11, 88, 90, 87, 91, 89, 88, 85, 87, 86, 88),
(12, 12, 82, 85, 83, 86, 84, 83, 80, 82, 81, 83),
(13, 13, 75, 78, 76, 80, 77, 79, 72, 75, 73, 76),
(14, 14, 90, 92, 89, 93, 91, 90, 87, 89, 88, 90),
(15, 15, 86, 89, 87, 90, 88, 87, 84, 86, 85, 87),
(16, 16, 80, 84, 82, 85, 83, 84, 79, 82, 80, 83),
(17, 17, 93, 95, 92, 96, 94, 93, 90, 92, 91, 93),
(18, 18, 87, 90, 88, 91, 89, 88, 85, 87, 86, 88),
(19, 19, 81, 85, 83, 86, 84, 85, 80, 83, 81, 84),
(20, 20, 94, 96, 93, 97, 95, 94, 91, 93, 92, 94),
(21, 21, 88, 91, 89, 92, 90, 89, 86, 88, 87, 89),
(22, 22, 82, 86, 84, 87, 85, 86, 81, 84, 82, 85),
(23, 23, 76, 79, 77, 81, 78, 80, 73, 76, 74, 77),
(24, 24, 89, 92, 90, 93, 91, 90, 87, 89, 88, 90),
(25, 25, 83, 87, 85, 88, 86, 85, 82, 84, 83, 85),
(26, 26, 77, 81, 79, 82, 80, 81, 76, 79, 77, 80),
(27, 27, 92, 94, 91, 95, 93, 92, 89, 91, 90, 92),
(28, 28, 86, 89, 87, 90, 88, 87, 84, 86, 85, 87),
(29, 29, 80, 84, 82, 85, 83, 84, 79, 82, 80, 83),
(30, 30, 95, 97, 94, 98, 96, 95, 92, 94, 93, 95),
(31, 31, 89, 92, 90, 93, 91, 90, 87, 89, 88, 90),
(32, 32, 83, 87, 85, 88, 86, 85, 82, 84, 83, 85),
(33, 33, 78, 81, 79, 82, 80, 81, 76, 79, 77, 80),
(34, 34, 91, 93, 90, 94, 92, 91, 88, 90, 89, 91),
(35, 35, 85, 88, 86, 89, 87, 86, 83, 85, 84, 86),
(36, 36, 79, 83, 81, 84, 82, 83, 78, 81, 79, 82),
(37, 37, 94, 96, 93, 97, 95, 94, 91, 93, 92, 94),
(38, 38, 88, 91, 89, 92, 90, 89, 86, 88, 87, 89),
(39, 39, 82, 86, 84, 87, 85, 86, 81, 84, 82, 85),
(40, 40, 76, 79, 77, 81, 78, 80, 73, 76, 74, 77),
(41, 41, 89, 92, 90, 93, 91, 90, 87, 89, 88, 90),
(42, 42, 83, 87, 85, 88, 86, 85, 82, 84, 83, 85),
(43, 43, 77, 81, 79, 82, 80, 81, 76, 79, 77, 80),
(44, 44, 92, 94, 91, 95, 93, 92, 89, 91, 90, 92),
(45, 45, 86, 89, 87, 90, 88, 87, 84, 86, 85, 87),
(46, 46, 80, 84, 82, 85, 83, 84, 79, 82, 80, 83),
(47, 47, 95, 97, 94, 98, 96, 95, 92, 94, 93, 95),
(48, 48, 89, 92, 90, 93, 91, 90, 87, 89, 88, 90),
(49, 49, 83, 87, 85, 88, 86, 85, 82, 84, 83, 85),
(50, 50, 78, 81, 79, 82, 80, 81, 76, 79, 77, 80),
(51, 51, 91, 93, 90, 94, 92, 91, 88, 90, 89, 91),
(52, 52, 85, 88, 86, 89, 87, 86, 83, 85, 84, 86),
(53, 53, 79, 83, 81, 84, 82, 83, 78, 81, 79, 82),
(54, 54, 94, 96, 93, 97, 95, 94, 91, 93, 92, 94),
(55, 55, 88, 91, 89, 92, 90, 89, 86, 88, 87, 89),
(56, 56, 82, 86, 84, 87, 85, 86, 81, 84, 82, 85),
(57, 57, 76, 79, 77, 81, 78, 80, 73, 76, 74, 77),
(58, 58, 89, 92, 90, 93, 91, 90, 87, 89, 88, 90),
(59, 59, 83, 87, 85, 88, 86, 85, 82, 84, 83, 85),
(60, 60, 77, 81, 79, 82, 80, 81, 76, 79, 77, 80),
(61, 61, 92, 94, 91, 95, 93, 92, 89, 91, 90, 92),
(62, 62, 86, 89, 87, 90, 88, 87, 84, 86, 85, 87),
(63, 63, 80, 84, 82, 85, 83, 84, 79, 82, 80, 83),
(64, 64, 95, 97, 94, 98, 96, 95, 92, 94, 93, 95),
(65, 65, 89, 92, 90, 93, 91, 90, 87, 89, 88, 90),
(66, 66, 83, 87, 85, 88, 86, 85, 82, 84, 83, 85),
(67, 67, 78, 81, 79, 82, 80, 81, 76, 79, 77, 80),
(68, 68, 91, 93, 90, 94, 92, 91, 88, 90, 89, 91),
(69, 69, 85, 88, 86, 89, 87, 86, 83, 85, 84, 86),
(70, 70, 79, 83, 81, 84, 82, 83, 78, 81, 79, 82),
(71, 71, 94, 96, 93, 97, 95, 94, 91, 93, 92, 94),
(72, 72, 88, 91, 89, 92, 90, 89, 86, 88, 87, 89),
(73, 73, 82, 86, 84, 87, 85, 86, 81, 84, 82, 85),
(74, 74, 76, 79, 77, 81, 78, 80, 73, 76, 74, 77),
(75, 75, 89, 92, 90, 93, 91, 90, 87, 89, 88, 90),
(76, 76, 83, 87, 85, 88, 86, 85, 82, 84, 83, 85),
(77, 77, 77, 81, 79, 82, 80, 81, 76, 79, 77, 80),
(78, 78, 92, 94, 91, 95, 93, 92, 89, 91, 90, 92),
(79, 79, 86, 89, 87, 90, 88, 87, 84, 86, 85, 87),
(80, 80, 80, 84, 82, 85, 83, 84, 79, 82, 80, 83),
(81, 81, 95, 97, 94, 98, 96, 95, 92, 94, 93, 95),
(82, 82, 89, 92, 90, 93, 91, 90, 87, 89, 88, 90),
(83, 83, 83, 87, 85, 88, 86, 85, 82, 84, 83, 85),
(84, 84, 78, 81, 79, 82, 80, 81, 76, 79, 77, 80),
(85, 85, 91, 93, 90, 94, 92, 91, 88, 90, 89, 91),
(86, 86, 85, 88, 86, 89, 87, 86, 83, 85, 84, 86),
(87, 87, 79, 83, 81, 84, 82, 83, 78, 81, 79, 82),
(88, 88, 94, 96, 93, 97, 95, 94, 91, 93, 92, 94),
(89, 89, 88, 91, 89, 92, 90, 89, 86, 88, 87, 89),
(90, 90, 82, 86, 84, 87, 85, 86, 81, 84, 82, 85),
(91, 91, 76, 79, 77, 81, 78, 80, 73, 76, 74, 77),
(92, 92, 89, 92, 90, 93, 91, 90, 87, 89, 88, 90),
(93, 93, 83, 87, 85, 88, 86, 85, 82, 84, 83, 85),
(94, 94, 77, 81, 79, 82, 80, 81, 76, 79, 77, 80),
(95, 95, 92, 94, 91, 95, 93, 92, 89, 91, 90, 92),
(96, 96, 86, 89, 87, 90, 88, 87, 84, 86, 85, 87),
(97, 97, 80, 84, 82, 85, 83, 84, 79, 82, 80, 83),
(98, 98, 95, 97, 94, 98, 96, 95, 92, 94, 93, 95),
(99, 99, 89, 92, 90, 93, 91, 90, 87, 89, 88, 90),
(100, 100, 83, 87, 85, 88, 86, 85, 82, 84, 83, 85);

## solving the problems
### -- Use Cases

### -- Identify students enrolled in a specific course

In [ ]:
%%sql
# use ums;
select * from student 
where major ='Mathematics';

### -- Calculate the average grade for a course

In [ ]:
%%sql 
use ums;
select avg(MachineLearning) as ML from grades;

## -- Update course details and track student progress
### -- update statement

In [ ]:
%%sql
use ums;
UPDATE course
SET credits = 2
WHERE c_id = 7; 
select * from course;

## -- select with multy conditions

In [ ]:
%%sql
use ums;
select * from student
where s_id >90 or s_id <10 and age >20;

## -- Joins

### --  Perform inner joins to combine related data

In [ ]:
%%sql
use ums;
select c_name,i_name from course c
join 
instructor i
on c.i_id=i.i_id ;

## -- Use left or right joins for advanced queries

In [ ]:
%%sql
use ums;
select c_name,i_name from course c
left join 
instructor i
on c.i_id=i.i_id ;

## -- Multiple Joins

In [ ]:
%%sql
use ums;
select s_name student,i_name instructor,c_name course 
from course c
join 
instructor i
on c.i_id=i.i_id 
join enrollment e 
on c.c_id=e.c_id 
join student s
on s.s_id=e.s_id ;

## -- Subqueries:

In [ ]:
%%sql
use ums;
SELECT s.s_name  student 
FROM student s
JOIN grades g ON g.s_id = s.s_id
WHERE g.MachineLearning > (SELECT AVG(MachineLearning) FROM grades);

## Python and Pandas:

### 1.Read Data:
Use pandas.read_sql() to load data from the database.

In [ ]:
user = "root" 
password = "password" 
database = "ums"
conn = pymysql.connect( user=user, password=password, database=database)

df = pd.read_sql("SELECT * FROM student", conn)  
df

In [ ]:
df1 = pd.read_sql("SELECT * FROM grades", conn)  
df1

In [ ]:
df2 = pd.read_sql("SELECT * FROM course", conn)  
df2

In [ ]:
df3 = pd.read_sql("SELECT * FROM instructor", conn)  
df3

df4 = pd.read_sql("SELECT * FROM enrollment", conn)  
df4

### 2.Manipulate Data:

#### adding column

In [ ]:
df['temp']=df['age']**2
df

#### removing column

In [ ]:
df.drop(columns='temp',inplace=True)
df

### 3.Indexing:
Access rows using loc and iloc for specific slicing.

In [ ]:
df.loc[:,('s_name','major')]

In [ ]:
df.iloc[:,[1,2]]

### 4.Export Data:

Export modified data using df.to_csv() or df.to_excel().

In [ ]:
df.to_csv('updated.csv')

In [ ]:
### 5.Upload All Work In Github